#gameBoard{
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: url(/Users/adamroberts/code/wdi/shoebill/proj/u1_project01_prompt/aroberts85.github.io/proj1ga/img/hammer.png), auto;
  /*cursor: pointer;*/
  background-image: url(/Users/adamroberts/code/wdi/shoebill/proj/u1_project01_prompt/aroberts85.github.io/proj1ga/img/swamp.png);
}

.lily{
  float: left;
  display: block;
  object-fit: contain;
  height: 240px;
  width: 200px;
  background-image: url(/Users/adamroberts/code/wdi/shoebill/proj/u1_project01_prompt/aroberts85.github.io/proj1ga/img/lilyPad.png);

  background-repeat: no-repeat;
}

img{
  margin-left: 44px;
  margin-top: 25px;
}
h1{
  font-family: sans-serif;
  background-color: #468df6;
  margin: 0%;
  font-size: -webkit-xxx-large;
  background-position: -250px;

}
h1.button{
  float:right;
}
