.marginLess{
	padding-top: 2px;
	margin: 0px;
}

.gameboard {
	width: 550px;
	height: auto;
	border: 1px solid white;
	margin: auto;
}

.lilly {
	height: auto;
	width: auto;
	border: 1px solid white;
	float: left;
}

.lilly:hover {

}
